@*
    ViewData["Title"] = "Azure Secrets";
*@
@model List<KeyValueViewModel>;

<hr />
<p>
    <a asp-action="Add" title="Add" class="btn btn-success">
        <span class="glyphicon glyphicon-trash">Add</span>
    </a>
</p>
<table class="table table-hover">
    <tr>
        <th class="active">
            Secret-Name：
        </th>
        <th class="success">
            Secret-Value:
        </th>
        <th class="danger">
            Operate：
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="active">
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td class="success">
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <th class="danger">
                <a class="btn btn-info" asp-area="" asp-route-id="@item.Key" asp-controller="Home" asp-action="Detial">Set</a>
                <a asp-action="Delete" asp-route-id="@item.Key" title="Detial" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash">Detial</span>
                </a>
            <td>
        </tr>
    }
</table>
